@charset "UTF-8";

.user_input{
	text-align:center;
}

.ID, .PW{
	padding:10px 20px;
	border:none;
	border-radius:5px;
}

#loginButton{
	font-size:20px;
	color:white;
	background:#5c6bc0;
	padding:10px 20px;
	border:none;
	border-radius:5px;
}

.idError{
	background:#E6B7A7;
	border: solid;
	border-color:red;
	border-radius:5px;
}

